.page-header{
  color: white;
}

img{
  height: 100%;
}

.logo{
  height: 55px;
  margin-right: 15px;
}



.title-table{
  display: flex;
  justify-content: space-around;
}

.element{
  width: 758px;
  height: 647px;
  border: 1px solid cornflowerblue;
}